<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae omnis dolores aut quos quaerat quibusdam
      incidunt quisquam culpa eius? Temporibus eius ut eaque voluptatibus alias eveniet. Aspernatur quam est, modi, sit
      distinctio tempora cum aliquid ad suscipit atque blanditiis cupiditate?</p>
  </div>
</div>